.vscode
.mukla
DDE-Sample.xls
Sounds
!config/
config/*
!config/test.ini
history
logs
profiles
templates
tester
terminal.exe
terminal.ico
metaeditor.exe
uninstaller.exe
!MQL4/
MQL4/*
!MQL4/Include/
MQL4/Include/*
!MQL4/Include/MQLLIB/
!MQL4/Include/MQLUNIT/
!MQL4/Scripts/
MQL4/Scripts/*
!MQL4/Scripts/MQLUNIT/
*.ex4
*.log
docs/html/
